body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 18px; background-color:rgb(35, 51, 79);color:rgb(228, 226, 226)}
a {
    color:yellowgreen;
    text-decoration: none;
}

img {
    width: 400px;
    border-radius: 6px;
    transition: all .15s;
}
/* img:hover {
    width: 320px;
    transition: all .15s;
} */

.column {
    /* float: left;
    width: 33.33%;
    min-width: fit-content; */
    word-wrap: break-word;
    border: 1px solid white;
    border-radius: 5px;
    padding:1em;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row{
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      gap:1em;
  }

.back {
    text-align: center;
}

.post {
    max-width: 740px;
    padding: 18px;
    margin-left: 2.5em;
    margin-right: 2.5em;
    border-radius: 4px;
    border: solid white 1px;
    text-align: left;
}

.blurb {
    text-align: center;
    width:400px;
    word-wrap: break-word;
}

.button-container {
    display: grid;
    place-items: center;
    gap: 1em;
    grid-template-columns: 1fr;
}

.nice-button {

    border: none;
    padding: 10px 20px;
    width: 300px;
    font-size: 18px;
    color:white;
    border-radius: 6px;
    background-color:rgb(60, 67, 106);
    cursor: pointer;
    transition: all .15s;
}

.nice-button:hover {
    font-size: 20px;
        transition: all .2s;
        background-color:rgb(80, 89, 140);
}
#wrapper {
    display:grid;
    padding: 1em;
}
#content {
    gap: 1em;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

@media screen and (min-width: 1024px)  {

    .blurb {
        width:640px;
    }

    .button-container {
        grid-template-columns: 0.5fr 0.5fr;
    }
    
}